<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eoinahern.ie.movietrailerapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MovieApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.view.trailer.TrailerActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity android:name=".ui.view.all.AllSectionActivity" />
        <activity android:name=".ui.view.detail.DetailActivity" />
        <activity
            android:name=".ui.view.list.ListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>